<section class='create-add-post'>
  <section class='create-post-inputs'>
    <label for='input-title'>Title</label>
    <input type='text' id='input-title' />
    <label for='input-content'>Content</label>
    <textarea rows='8' type='text' id='input-content' placeholder='Your Post'></textarea>
  </section>
  <button class='btn btn-primary btn-add-post' id='button-post' type='submit'>New Post</button>
</section>