.create-post-inputs {
  /* width: 50vw; */
  display: flex;
  flex-direction: column;
}

.create-post-inputs > label, #button-post {
  margin-top: 1rem;
}

.button-delete-post {
  margin-left: 0.5rem;
}

#input-title, #input-content {
  width: 50%;
}

@media screen and (max-width: 750px) {
  #input-title, #input-content {
    width: 75%;
  }
}

@media screen and (max-width: 600px) {
  #input-title, #input-content {
    width: 100%;
  }
}