
nav {
  display: flex;
}
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
nav li {
  display: inline-block;
  list-style-type: none;
  margin-left: 2em;
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-top {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background: var(--color-bg-variant);
  position: fixed;
}
.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: var(--color-primary);
  text-decoration: none;
  transition: var(--transition);
  font-size: 100%;
}
.no-button:hover {
  color: var(--color-white);
}
.logged-as {
  margin-left: 2rem;
}
.logo-image {
  width: 5rem;
}
.hero {
  margin-top: 8rem;
  width: 100vw;
}
.nav-info {
  padding: 0 2rem;
}

@media screen and (max-width: 750px) {
  nav li {
    display: block;
  }
.nav-info {
  margin-top: 4rem;
}
.hero {
  margin: 0;
}
  .hero > img {
    visibility: hidden;
  }
}

@media screen and (max-width: 600px) {
  nav li {
    font-size: 0.75rem;
    display: block;
  }
  h1 {
    font-size: 1rem;
  }
  .main-top {
    flex-direction: column;
  }
  .info.logged-as {
    font-size: 0.75rem;
    margin: 0.5rem 0;
  }
  .nav-info {
    margin-top: 7rem;
  }
}